turing machine/.vs/turing machine/v16/.suo*.lock*.lock*.ide*.configturing machine/.vs/turing machine/v16/.suoturing machine/.vs/turing machine/v16/Server/sqlite3/db.lock*.configturing machine/App.config*.exe*.configturing machine/bin/Debug/turing machine.pdbturing machine/obj/Debug/turing machine.csproj.CoreCompileInputs.cacheturing machine/obj/Debug/turing machine.csproj.FileListAbsolute.txt*.csturing machine/Properties/AssemblyInfo.csturing machine/turing machine.csprojturing machine/turing machine.sln*.cache*.cache*.txt*.cache*.exe*.pdb